body {
    text-align: center;
    font-family: fantasy;
    color:#6b3e26;
    background-color: 	#ffffff;
    
}
ul, ol {
  width: fit-content; 
  margin-left: auto;
  margin-right: auto;

}
p {
    padding-left: 300px;
    padding-right: 300px;

}

img {
    width: 500px;
}